.text-front {
  font-size: 2.2em;
  margin-top: 50px;
  color: #C574FF;
}
.text-back {
  font-size: 1.5em;
  margin-top: 5px;
  color: #C574FF;
}
.text-card{
  text-align: justify ;
}
.lead{
  text-align: justify !important;
}
.cardCursinhos{
  border: 3px solid #C6A6D9;
  border-radius: 10px !important;
}
.card-container {
  /* é a "distancia relativa" entre o movimento do cartão e o quanto ele se "aproxima" na tela do usuário   */
  perspective: 900px;
  display: inline-block;
}

.card {
  position: relative;
  line-height: 20px;
  text-align: center;
  color: #000;
  margin: 30px;
  width: 300px;
  height: 350px;
  transition: all 0.6s ease;
  /* faz o efeito do flip no proprio eixo parecer em 3D */
  transform-style: preserve-3d;
  border: none !important;
}

.front{
  background:white;
  border: 3px solid #C574FF;
  position: absolute;
  width: 300px;
  height: 350px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 8px black;
  
  /* esconde o lado que estiver na parte de traz do card caso não tenha um background no card */
  backface-visibility: hidden;
}
.back {
  background: #C574FF;
  position: absolute;
  width: 300px;
  height: 350px;
  border-radius: 20px;
  /* esconde o lado que estiver na parte de traz do card caso não tenha um background no card */
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
  background: #fff;
  text-align: center;
  
}
.buttonCard{
  border: #117A8B 3px solid !important;
  color: #117A8B;
  width: 50%;
}
/* quando fizer o hover o card dentro do containr flipa */
.card-container:hover .card {
  transform: rotateY(180deg);
  cursor: default;
}
