/*:root {
    font-size: 62.5%;
}*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MENU BAR */

nav{
    display: flex;
    width: 100vw;
    height: 13vh;
}

/* LOGO MENU */
.logoMenu{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #5C1F98;
    width: 25vw;
}
.logoMenu img{
    padding: 0;
    margin: 0;
    width: 18vw;
    height: 9vh;
}
/* LINKS MENU */

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #5C1F98  ;
    width: 75vw;
}
.menu a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vh;
    font-weight: 500px;
    padding: 0.7vh;
    margin: 0vw 1vw 0vw 5vw;
    letter-spacing: 0.06vw;
    text-decoration: none;
    color: #ffffffe1;
    font-family: 'Bebas Neue', cursive;
}
.entrarRegistrar p{
    background-color: #ffffffe1 ;
    padding: 1.2vh 2vw;
    border-radius: 1vh;
    box-shadow: 0vh 0vh 2vh 0.2vh #363636;
    color:  #080808e1;
    font-family: 'Bebas Neue', cursive;
}    

/* FOOTER BAR */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 13vh;
    bottom: 0%;
    color:#ffffffe1;
    font-family: 'Bebas Neue', cursive;
    background-color: #5C1F98;
}
footer P{
    color:#ffffffe1;
    font-family: 'Bebas Neue', cursive;
    font-size: 2.3vh;
}