/* ANIMAÇÕES */

[data-anima]{
    opacity: 0;
    transition: 1s;
}
[data-anima="center"]{
    transform: translate3d(0, 50px, 0);/*x  y z */
}
[data-anima="left"]{
    transform: translate3d(50px, 0, 0);/*x  y z */
}
[data-anima="right"]{
    transform: translate3d(-50px, 0, 0);/*x  y z */
}
[data-anima].animacao{
    opacity: 1;
    transform: translate3d(0,0,0);
}