@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.container{
    width: 80%;
    vertical-align: top;
 /*   background-color:fuchsia;*/
    display: inline-block;
    
}
    
    
    .box_cursos{
        display:inline-block;
        text-align: center;
        vertical-align: middle;
        width: 29%;
        margin: 12px 0px 0px 32px;
    }
