@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* MENU BAR */

nav a{
    /* font-weight: bold; */
    color:white !important;
    letter-spacing: 2px;
    font-size: 2rem;
    font-family:'Bebas Neue', cursive;
}

nav li{
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.dropBar{
    text-align: center !important;
    background-color:#8b1cdab4 !important;
    color: black !important;
}
