@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 74vh;
    background-color:#8b1cda;
}

/* LAYOUT LOGIN/CADASTRO */
.loginCard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 60vh;
    background-color:#ffffffe1;
    border-radius: 5vh 0vh 0vh 5vh;
}

.loginCard h1 {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 8vh;
    letter-spacing: 0.3vw;
    margin-bottom: 2vh;
    color: #252525;
}

.loginCard input{
    text-align: center;
    font-size: 1.6vh;
    display: block;
    width: 38vw;
    height: 4vh;
    margin: 1vh auto 0vh;
    border-radius: 0.8vh;
    border: none;
}
.loginCard button{
    display: block;
    font-size: 2.5vh;
    text-align: center;
    width: 38vw;
    height: 5vh;
    background-color:#8b1cda;
    color: white;
    border: none;
    border-radius: 0.8vh;
    margin: 1.5vh auto 0vh;
}

.loginCard a {
    display: block;
    width: 38vw;
    font-size: 1.8vh;
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0.5vh auto 0vh;
} 

/* BANNER LOGIN */

.bannerCard{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color::#8b1cda;
    width: 50vw;
    height: 70vh;
}
.bannerCard img{
    height: 70vh;
}